<div class="card mx-auto" style="width: 50rem;">
  <div class="card-header posts-header">
    <h4 class="card-title text-center">
      <%= @post.title %>
    </h4>
  </div>
  <div class="card-body">
    <p class="card-text">
      <%= @post.content %>
    </p>
  </div>
</div><br>


<div class="text-center">
  <%= link_to "Back", posts_path, class: "btn btn-info" %>
  <%= link_to "Edit", edit_post_path, class: "btn btn-warning" %>
  <%= link_to "Delete", post_path(@post), method: :delete, data: {confirm: "Are you sure?"}, class: "btn btn-danger" %>
</div>

