<div class="card mx-auto" style="width: 50rem;">
  <div class="card-header posts-header">
    <h4 class="card-title text-center">
      <%= @post.title %>
    </h4>
  </div>
  <div class="card-body">
    <p class="card-text">
      <%= @post.content %>
    </p>
  </div>
</div><br>


<div class="text-center">
  <%= link_to "Back", posts_path, class: "btn btn-info" %>
  <% if signed_in? && current_user.id == @post.user_id %>
    <%= link_to "Edit", edit_post_path, class: "btn btn-warning" %>
    <%= link_to "Delete", post_path(@post), method: :delete, data: {confirm: "Are you sure?"}, class: "btn btn-danger" %>
  <% end %>
</div><br>

<section class="section comments">
  <div class="container">
    <h2 class="subtitle is-5"><strong><%= @post.comments.count %> Comments</strong></h2>
    <%= render @post.comments %>
    <div class="comment-form">
      <hr />
      <h3 class="subtitle is-3">Leave a reply</h3>
      <%= render 'comments/form' %>
    </div>
  </div>
</section>

